html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: #f4a261;
}

.block {
  border-radius: 10px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 800px;
  height: 600px;
  margin: 10px 600px 20px 80px;
  -webkit-transition: .5s all;
  transition: .5s all;
  color: white;
}

.block h1 {
  background: transparent;
  position: absolute;
  font-size: 65px;
  font-family: 'Syncopate', sans-serif;
}

.block:hover {
  color: gray;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
  -webkit-transition: .5s all;
  transition: .5s all;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.ccontent {
  position: absolute;
  padding-left: 2em;
  padding-top: 1em;
  color: black;
  -webkit-text-stroke: initial;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: .5 all;
  transition: .5 all;
}

.ccontent h2 {
  display: block;
  color: #fff;
  font-size: 3em;
  text-transform: uppercase;
}

.ccontent p {
  display: inline-block;
  position: relative;
  color: #fff;
}

.card:hover .ccontent {
  opacity: 1;
  visibility: visible;
}

.card img {
  position: absolute;
  bottom: 0;
  width: 300px;
  left: 50%;
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
  opacity: 0;
  visibility: hidden;
}

.card:hover img {
  left: 70%;
  opacity: 1;
  visibility: visible;
}

.block:nth-child(even) h1 {
  bottom: 700px;
  left: 20px;
}

.block:nth-child(even):hover {
  -webkit-transition: .5s all;
  transition: .5s all;
  color: transparent;
  -webkit-text-stroke: 1px white;
  text-shadow: none;
  -webkit-transform: translateY(50px);
          transform: translateY(50px);
}

.block:nth-child(odd) h1 {
  top: 600px;
}

.block:nth-child(odd):hover {
  -webkit-transform: translateY(-50px);
          transform: translateY(-50px);
}

header {
  padding: 1em;
}

header nav {
  text-align: center;
}

header nav li {
  font-size: 20px;
  color: white;
  font-family: 'Montserrat', sans-serif;
  display: inline-block;
  padding: 0 2em;
}

.entry {
  position: relative;
  bottom: 450px;
}

.entry h1 {
  font-size: 90px;
}

.block1 {
  margin-left: 300px;
  background: url(DendenPic.JPG) no-repeat 50% 50%;
  background-size: cover;
}

.block1:hover {
  content: "Hello";
}

.block2 {
  background: url(nedu.jpg) no-repeat 50% 50%;
  background-size: cover;
}

.block3 {
  background: url(nedu2.jpg) no-repeat 50% 50%;
  background-size: cover;
}

.container {
  max-width: 100%;
  margin-top: 300px;
  margin-left: 200px;
}

.splash {
  -webkit-transition: .5s all ease;
  transition: .5s all ease;
  font-size: 60px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  color: white;
  z-index: 200;
  text-align: center;
  line-height: 90vh;
  font-family: 'Syncopate', sans-serif;
  background: url(denden1.JPG) no-repeat 50% 50%;
  -webkit-filter: grayscale(40%);
          filter: grayscale(40%);
}

.splash.display-none {
  -webkit-transition: .5s all ease;
  transition: .5s all ease;
  font-size: 60px;
  position: fixed;
  opacity: 0;
  top: 0;
  left: 0;
  max-width: 100%;
  height: 100vh;
  background: black;
  color: white;
  z-index: -10;
  text-align: center;
  line-height: 90vh;
}

@-webkit-keyframes fadeIn {
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

.fade-in {
  opacity: 0;
  -webkit-animation: fadeIn 1s ease-in forwards;
          animation: fadeIn 1s ease-in forwards;
}

@media screen and (max-width: 768px) {
  .block {
    width: 700px;
    height: 500px;
  }
  .block:nth-child(even) h1 {
    bottom: 550px;
  }
  .block:nth-child(odd) h1 {
    top: 550px;
  }
}

@media screen and (max-width: 550px) {
  .block {
    width: 500px;
    height: 350px;
  }
  .block:nth-child(even) h1 {
    bottom: 400px;
  }
  .block:nth-child(odd) h1 {
    top: 400px;
  }
  .block:nth-child(odd) {
    bottom: 10em;
  }
  .entry h1 {
    font-size: 75px;
  }
}

@media screen and (max-width: 400px) {
  .block {
    width: 400px;
    height: 300px;
  }
  .block:nth-child(even) h1 {
    bottom: 300px;
  }
  .block:nth-child(odd) h1 {
    top: 300px;
  }
  .container {
    max-width: 100%;
    margin-top: 200px;
    margin-left: 200px;
  }
}
/*# sourceMappingURL=style.css.map */