$primaryColor : rgba(#f4a261,1);
html,body {
  margin:0;
  padding:0;
  width:100%;
  height:100%;
  overflow: hidden;
  background: black;
}
.block {
  position: relative;
  width: 800px;
  height: 600px;
  margin: 10px 600px 20px 80px;
  transition: .5s all;
  filter: grayscale(100%);
  color:white;
  h1 {
    background: transparent;
    position: absolute;
    font-size: 65px;
    font-family: 'Syncopate', sans-serif;
  }
  &:hover {
    color:gray;
    filter:grayscale(0%);
    transition: .5s all;
    transform: scale(1.05);
  }
}

.block:nth-child(even){
  
  h1 {
    bottom:700px;
    left:20px;
  }
  &:hover {
    transition: .5s all;
    color:transparent;
    -webkit-text-stroke: 1px white;
    text-shadow: none;
  }
}
.block:nth-child(odd){
  h1 {
    top:600px;

  }
}
header{

padding:1em;
nav{
  text-align: center;
  li {
  font-size:20px;
  color:white;
  font-family: 'Montserrat', sans-serif;
  display:inline-block;
  padding: 0 2em;    
  }
}
}
.block1 {
  background: url(DendenPic.JPG) no-repeat 50% 50%;
  background-size: cover;
}
.block2 {
  background: url(nedu.jpg) no-repeat 50% 50%;
  background-size: cover;
}
.block3 {
  background: url(nedu2.jpg) no-repeat 50% 50%;
  background-size: cover;
}

.container {
  max-width: 100%;
  margin-top: 300px;
  margin-left: 200px;
}

.splash {
  transition: .5s all ease;
  font-size:60px;
   position:fixed;
   top:0;
   left:0;
   width:100%;
   height:100vh;
   color:white;
   z-index: 200;
   text-align: center;
   line-height: 90vh;
   font-family: 'Syncopate', sans-serif;
   background: url(denden1.JPG) no-repeat 50% 50%;
   filter: grayscale(40%);
}

.splash.display-none {  
  transition: .5s all ease;
  font-size:60px;
   position:fixed;
   opacity:0;
   top:0;
   left:0;
   max-width:100%;
   height:100vh;
   background:black;
   color:white;
   z-index: -10;
   text-align: center;
   line-height: 90vh;

}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

.fade-in {
opacity: 0;
animation: fadeIn 1s ease-in forwards;
}
